* {
  margin: 0;
  padding: 0;
}

html, body {
  height: 100%;
  overflow-y: hidden;
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
}

.main {
  background-color: #FFFFFF;
  width: 100%;
  color: #FFFFFF;
}

section[role="region"] {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: 0;
  overflow: hidden;
}

/* ----------------------------------
 * HEADERS: default
 * ---------------------------------- */
section[role="region"] > header {
  position: relative;
  z-index: 10;
  padding: 0;
  height: 5rem;
  color: #fff;
  background-color: #f37e21;
  border: none;
  text-align: center;
  font-size: 2.5rem;
  line-height: 5rem;
  font-weight: lighter;
}

/* ----------------------------------
 * wifi-status-bar: default
 * ---------------------------------- */
.wifi-status-bar {
  position: relative;
  z-index: 10;
  padding: 0;
  height: 9.8rem;
  background-size: auto 100%;
  border: none;
  float: left;
  width: 100%;
}

.wifi {
  margin-top: 1.2rem;
  margin-left: calc(50% - 5rem);
  width: 10rem;
  height: 10rem;
  background-image: url("images/wifi-disconnected.png");
  background-origin: content-box;
  background-repeat: no-repeat;
  background-size: 100%;
}

.connected {
  background-image: url("images/wifi-connected.png");
}

/* ----------------------------------
 * view: default
 * ---------------------------------- */
.view {
  position: relative;
  z-index: 10;
  padding: 0;
  color: #f4f4f4;
  background-size: auto 100%;
  border: none;
  float: left;
  width: 100%;
}

.view > header {
  font-size: 2.4rem;
  margin-top: 2.6rem;
  color: #4a4a4a;
  text-align: center;
}

.wifi-number {
  font-size: 3.4rem;
  margin-top: 1rem;
  color: #4a4a4a;
  background-color: rgba(233, 246, 248, 0.38);
  list-style-type: none;
  text-align: center;
  width: 80%;
  height: 5rem;
  margin-left: 10%;
}

.wifi-number > div {
  padding-top: .8rem;
}

.view > ul {
  font-size: 1.4rem;
  margin-top: 1rem;
  color: #b2b2b2;
  list-style-type: none;
  text-align: center;
}

.view > ul li {
  font-size: 1.4rem;
  margin-top: 1.4rem;
  margin-left: 5%;
  width: 90%;
  color: #4a4a4a;
  list-style-image: url("images/dot.png");
  list-style-type: circle;
}

.view > ul p {
  font-size: 1.4rem;
  margin-top: 1rem;
  color: #4a4a4a;
}

.start {
  margin-top: 1.2rem;
  margin-left: 5%;
  width: 90%;
  height: 6rem;
  background-image: url("images/start.png");
  background-origin: content-box;
  background-repeat: no-repeat;
  background-size: 100%;
}

/* ----------------------------------
 * bottom: default
 * ---------------------------------- */
.bottom {
  position: absolute;
  bottom: 0rem;
  background-color: #fbfbfb;
  height: 9rem;
  width: 100%;
  float: left;
}

.button {
  border: none;
  margin-left: 3.4rem;
  margin-top: 2rem;
  text-align: center;
  width: calc(100% - 6.8rem);
  height: 5rem;
  color: #fff;
  font-size: 2rem;
  background-color: #f37e21;
}



/* ----------------------------------
 * view: connected-view
 * ---------------------------------- */
#connected-view > ul li {
  list-style-image: none;
  list-style-type: none;
}

#connected-view > button {
  margin-top: 4.6rem;
}

/* help */
.help-region {
  position: fixed;
  z-index: 20;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: #FFFFFF;
  margin-left: 0;
  border: none;
  border-radius: 0rem;
}

.help-header {
  position: relative;
  padding: 0;
  height: 5rem;
  background-color: #f37e21;
  border: none;
  width: 100%;
}

.help-back{
  float: left;
  position: relative;
  padding: 0;
  height: 5rem;
  width: 15%;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-size: 50%;
  background-origin: content-box;
  background-image: url("images/back.png");
}

.touchover {
  background-color: #aa6225;
}

.help-name{
  float: left;
  position: relative;
  padding: 0;
  height: 5rem;
  width: 85%;
  color: #fff;
  text-align: left;
  font-size: 2rem;
  line-height: 5rem;
  font-weight: lighter;
}

.help-title {
  color: #b2b2b2;
  text-align: left;
  font-size: 1.4rem;
  width: 90%;
  margin-left: 5%;
  margin-top: 2rem;
}

.help-info {
  margin-top: 2rem;
  color: #4a4a4a;
  text-align: left;
  font-size: 1.4rem;
  width: 90%;
  margin-left: 5%;
}

.help-usb {
  color: #4a4a4a;
  text-align: left;
  font-size: 1.4rem;
  width: 90%;
  margin-left: 5%;
  margin-top: 2rem;
}

.link {
  color: #4a90e2;
}

/* loading */
.modal {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: rgba(42, 42, 42, 0.4);
  margin-left: 0;
  border: none;
  border-radius: 0rem;
}

.loading-container {
  margin: 18rem calc(50% - 5rem) 0;
  height: 10rem;
  width: 10rem;
  background-color: rgba(42, 186, 204, 0.7);
  border-radius: 1rem;
}

#loading-img {
  margin: 2.7rem;
}

.hidden {
  display: none;
}

.loading {
  -moz-animation:spin 2s linear infinite;
}

@-moz-keyframes spin { 100% { -moz-transform: rotate(360deg); } }
