* {
  margin: 0;
  padding: 0;
}

html, body {
  height: 100%;
  overflow-y: hidden;
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
}

.main {
  background-color: #FFFFFF;
  width: 100%;
  color: #FFFFFF;
}

section[role="region"] {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: 0;
  overflow: hidden;
}

/* ----------------------------------
 * HEADERS: default
 * ---------------------------------- */
section[role="region"] > header {
  position: relative;
  z-index: 10;
  padding: 0;
  height: 5rem;
  color: #fff;
  background-color: #f37e21;
  border: none;
  text-align: center;
  font-size: 2.5rem;
  line-height: 5rem;
  font-weight: lighter;
}

/* ----------------------------------
 * wifi-status-bar: default
 * ---------------------------------- */
.wifi-status-bar {
  position: relative;
  z-index: 10;
  padding: 0;
  height: 12.4rem;
  background: -moz-radial-gradient(#fff, #e5ecef) repeat scroll 0 0 transparent;
  background-size: auto 100%;
  border: none;
  float: left;
  width: 100%;
}

.wifi {
  margin-top: 1.2rem;
  margin-left: calc(50% - 5rem);
  width: 10rem;
  height: 10rem;
  background-image: url("images/wifi-disconnected.png");
  background-origin: content-box;
  background-repeat: no-repeat;
  background-size: 100%;
}

.connected {
  background-image: url("images/wifi-connected.png");
}

/* ----------------------------------
 * view: default
 * ---------------------------------- */
.view {
  position: relative;
  z-index: 10;
  padding: 0;
  height: 60%;
  color: #f4f4f4;
  background-size: auto 100%;
  border: none;
  float: left;
  width: 100%;
}

.view > header {
  font-size: 2rem;
  margin-top: 2.6rem;
  color: #333333;
  text-align: center;
}

.view > ul {
  font-size: 3rem;
  margin-top: 1.4rem;
  color: #333333;
  list-style-type: none;
  text-align: center;
}

.view > ul li {
  font-size: 1.4rem;
  margin-top: 1.2rem;
  margin-left: 5rem;
  margin-right: 3.4rem;
  color: #858585;
  list-style-image: url("images/dot.png");
  list-style-type: circle;
}

.view > ul a {
  font-size: 1.4rem;
  margin-top: 1.2rem;
  color: #858585;
}

/* ----------------------------------
 * button: default
 * ---------------------------------- */
.button {
  border: none;
  margin-left: 3.4rem;
  margin-top: 2rem;
  text-align: center;
  width: calc(100% - 6.8rem);
  height: 5rem;
  color: #fff;
  font-size: 2rem;
  background-color: #f37e21;
}



/* ----------------------------------
 * view: connected-view
 * ---------------------------------- */
#connected-view > ul li {
  list-style-image: none;
  list-style-type: none;
}

#connected-view > button {
  margin-top: 4.6rem;
}

/* loading */
.modal {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: rgba(42, 42, 42, 0.4);
  margin-left: 0;
  border: none;
  border-radius: 0rem;
}

.loading-container {
  margin: 18rem calc(50% - 5rem) 0;
  height: 10rem;
  width: 10rem;
  background-color: rgba(42, 186, 204, 0.7);
  border-radius: 1rem;
}

#loading-img {
  margin: 2.7rem;
}

.hidden {
  display: none;
}

.loading {
  -moz-animation:spin 2s linear infinite;
}

@-moz-keyframes spin { 100% { -moz-transform: rotate(360deg); } }
